{
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "extends": [
    "eslint:recommended", "airbnb-base", "plugin:prettier/recommended"
  ], // eslint-config-prettier
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "semi": ["error", "never"],
    "quotes": ["error", "single"],
    "arrow-body-style": ["error", "always"],
    "comma-dangle": ["error", "never"],
    "arrow-parens": ["error", "as-needed"],
    "func-names": ["error", "never"],
    "no-use-before-define": ["error", {"functions": false, "classes": false}],
    "no-param-reassign": 0,
    "no-unused-vars": "off",
    "prettier/prettier": 0,
    "max-len": 0,
    "no-debugger": 0,
    "no-console": 0,
    "no-plusplus": 0,
    "quote-props": 0,
    "object-shorthand": 0,
    "no-underscore-dangle": 0,
    "no-extraneous-dependencies": 0,
    "prefer-const": 0,
    "no-else-return": 0,
    "prefer-template": 0,
    "array-callback-return": 0,
    "consistent-return": 0,
    "no-shadow": 0,
    "import/no-extraneous-dependencies": 0,
    "import/newline-after-import": 0
  }
}
