@charset "utf-8";
@import "common/variables";
@import "common/mixins";

// datepicker
.ui-datepicker {
  position:relative;
  width: 304px;
  display: none;
  padding:20px 0 24px;
  background-color:#fff;
  box-shadow:4px 4px 12px rgba(0,0,0,.2);
  &:before {
    content:'';
    position:absolute;
    top:-12px;
    left:136px;
    border-bottom:12px solid #fff;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
  }
  .ui-datepicker-header {
    position: relative;
    padding:0 4px 4px;
  }
  .ui-datepicker-prev,
  .ui-datepicker-next {
    position: absolute;
    top: 0;
    width:24px;
    height:24px;
  }
  .ui-datepicker-prev {
    left:20px;
  }
  .ui-datepicker-next {
    right:20px;
  }
  .ui-datepicker-prev span,
  .ui-datepicker-next span {
    display: block;
    height:100%;
    background:url('../images/icon/ico_arr.svg') no-repeat 0 0;
  }
  .ui-datepicker-next span {
    transform: rotate(180deg);
  }
  .ui-datepicker-title {
    margin: 0 72px;
    text-align: center;

    font-weight:$fw-medium;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th {
    height:48px;
    border-bottom:1px solid $line-color;

  }
  td {
    padding:6px 4px;
  }
  th,td {
    width:40px;
    height:40px;
    color:#505050;
    vertical-align:middle;
    font-weight:$fw-default;
    text-align:center;
    &:first-of-type {
      width:52px;
      padding-left:16px;
      color:#f55437;
    }
    &:last-of-type {
      width:52px;
      padding-right:16px;
      color:#41a4eb;
    }
  }
  td span,
  td a {
    display: block;
    text-decoration: none;
    width:32px;
    height:32px;
    line-height:32px;
  }
  tr:first-child {
    td {
      padding-top:12px;
    }
  }
  td .ui-state-hover,
  .ui-widget-content td .ui-state-hover,
  .ui-widget-header td .ui-state-hover,
  .ui-state-focus,
  .ui-widget-content td .ui-state-focus,
  .ui-widget-header td .ui-state-focus,
  .ui-state-active,
  .ui-widget-content .ui-state-active,
  .ui-widget-header .ui-state-active {
    background-color:$primary;
    border-radius:50%;
    font-weight:$fw-medium;
    color: #ffffff;
  }
  .ui-state-active a,
  .ui-state-active a:link,
  .ui-state-active a:visited {
    color: #ffffff/*{fcActive}*/;
    text-decoration: none;
  }
  .ui-state-disabled,
  .ui-widget-content .ui-state-disabled,
  .ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter:Alpha(Opacity=35); /* support: IE8 */
    background-image: none;
  }
  .ui-state-disabled .ui-icon {
    filter:Alpha(Opacity=35); /* support: IE8 - See #6059 */
  }

  /* Icons */
  .ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
    left: .5em;
    top: .3em;
  }
}
